<p class="list-suggestions">
	<%# if session[:user_id].present? %>
		<ul id="suggestion-list">
			<% @suggestions.each do |suggestion| %>
				<%= render 'suggestion_li', :suggestion => suggestion %>
			<% end %>
		</ul>
	<%# else %>
	  
</p>
