<div id="footer">
	<ul>
		<li><strong><%= link_to 'Create a new Suggestion Box', new_suggestion_box_path %></strong></li><li><%= link_to 'Contact', contact_url %></li>
		<br><br>
		<li class="CA">A Code Academy Student Project</li><li><%= link_to 'Other projects by Ben Block', '#' %></li>
	</ul>
	<!-- <p>A Code Academy Project</p> -->
</div>
