<% if flash[:notice] %>
	<p class="notice"><%= notice %></p>
<% end %>
<% if flash[:neg_notice] %>
	<p class="neg-notice"><%= flash[:neg_notice] %></p>
<% end %>
<% if flash[:pos_notice] %>
	<p class="pos-notice"><%= flash[:pos_notice] %></p>
<% end %>