<section>
	<div class="contact-note">
		<p>The SuggestionBox is a work in progress and I would love your feedback.</p>
		<p>Please send me an email with any thoughts, suggestions, or bugs:</p>
		<p class="email"><%= mail_to 'bjblock@gmail.com', 'My Email Address', :encode => 'hex' %></p>
		<p>Thanks in advance for your help in making The SuggestionBox better!</p>
	</div>
</section>