.notice {
  color: green;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}
.neg-notice { 
	font-size: 14px; 
	color: red; 
	font-weight: bold; 
	margin-top: 10px;
}
.pos-notice { 
	font-size: 14px; 
	color: green; 
	font-weight: bold; 
	margin-top: 10px;
}
