// Place all the styles related to the Suggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.suggestion a {
	font-size: 16px;
}
li.suggestion a.signin_to_vote, li.suggestion div.comments a {
	font-size: 14px;
}
div.comment_box {
	margin: 10px;
}
div.hidden_comments {
	display: none;
}