<h1>Editing suggestion</h1>

<%= render 'form' %>

<%= link_to 'Show', suggestion_box_suggestion_url(@suggestion_box, @suggestion) %> |
<%= link_to 'Back', suggestion_box_suggestions_url(@suggestion_box) %>
